<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Daily Checkout</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <a class="navbar-brand" href="#">Daily Checkout</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/mentor/aggregate/directmessage">Aggregate</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="/checkouts/directmessage">Checkouts</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/mentor/team">Team</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/mentor/notrelevant">Not relevant feedbacks</a>
                  </li>
              </ul>
          </div>
  
          <div>
              
              <div class="navbar-right">
                  <form method="get" class="form-inline" action="directmessage">
                      <div class="form-group">
                          <div class="input-group mr-2">
                              <span class="input-group-addon"></span>
                              <select name="day" class="form-control custom-select border-left-0">
                                <% results.forEach ( feedback => { %>                             
                                    <option value=<%=`${feedback.created_at}`%>><%= feedback.created_at %></option>
                                <% }) %>
                              </select>
                          </div>
                          <input type="submit" value="Go" class="form-control" />
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </nav>
  <div class="container">
      <div><h2 class="mt-3">Daily checkout for <span class="badge badge-primary"><%= feedbacklist[0].channel %></span></h2></div>
      <% let sumCounter = 0; %>
      <% feedbacklist.forEach ( feedback => { %>
          <% sumCounter++ %>
      <% }) %>
      <div><h3 class="mt-3">Sum of checkouts <span class="badge badge-danger"><%=sumCounter%></span></h3></div>
      
      <table class="table">
          <tr> 
              <th>Workshop rating</th>
              <th>Feeling</th>
              <th>Finished %</th>
              <th>Energy Input %</th>
              <th>Favourite task</th>
              <th>Hardest task</th>
              <th>Feedback</th>
              <th>What I learned today</th>
          </tr>
            <% feedbacklist.forEach ( feedback => { %>
            <tr>    
                <td><%= feedback.rating %></td>
                <td><%= feedback.feeling %></td>
                <td><%= feedback.finished %></td>
                <td><%= feedback.energy %></td>
                <td><%= feedback.favorite %></td>
                <td><%= feedback.hardest %></td>
                <td><%= feedback.feedback %></td>
                <td><%= feedback.whatlearned %></td>
            </tr>
            <% }) %>
                

      </table>
  </div>
  </body>

</html>